
<div class="hero-unit">
	<h1>Welcome to Dye Share!</h1>
	<p>Our community is teaching one another how to dye fabrics... the natural way.</p>


	<p> 
		<%= link_to "Join our community now!", '#', class: "btn btn-primary btn-large" %>
	 
	</p>
	
</div>