<h1>Welcome to Dye Share!</h1>
<p>Our community is teaching one another how to dye fabrics... the natural way.</p>


<p> 

<a href ="#">Join our community now!<a> 
</p>
<%= link_to "RunwithLuke", "http://runwithluke.com" %>

<p>

<a href="http://runwithluke.com"> Jaluke!<a>

<div class="footer">
	<small>
		by <a href="http://runwithluke.com"> Jaluke!<a>
	</small>	

</div>	